{% extends 'admin.html.twig' %}

{% block sctionTitle %} Sezony {% endblock %}
{% block panel %}
    {% set attributes = {id: 'Id', date: 'Data sezonu', action: 'season' }  %}
    {{ include('AdminBundle:Default:panel.html.twig', {title: 'lista', attributes: attributes, entities: seasons}) }}
{% endblock %}