{#

 This file is part of the FOSCommentBundle package.

 (c) FriendsOfSymfony <http://friendsofsymfony.github.com/>

 This source file is subject to the MIT license that is bundled
 with this source code in the file LICENSE.

#}

{# {% trans from 'FOSCommentBundle' %}fos_comment_comment_vote_score{% endtrans %} #} {{ commentScore }}
