{% extends 'base.html.twig' %}

{% block section %}

    {% for object in pagination %}
        <article class="post-container" data-object-id="{{ object.id }}">
            <div class="tags">
                {% for tag in object.tags %}
                    <a href="#">#{{ tag.name }}</a>
                {% endfor %}
            </div>
            <figure>

                <a href="{{ path('object_show', { 'type': object.getUrlType(), 'name': object.description|to_url, 'id': object.id }) }}">
                    {% if object.type == constant('IMAGE_TYPE', object) %}
                        <img src="{{ object.getWebPath() | imagine_filter('article') }}"
                             alt="{{ object.description }}" class="img-responsive">
                    {% elseif object.type == constant('YOUTUBE_TYPE', object) %}
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item"
                                    src="https://www.youtube.com/embed/{{ object.src }}" frameborder="0"
                                    allowfullscreen></iframe>
                        </div>
                    {% else %}

                        <img src="{{ object.getWebPath() | imagine_filter('article') }}"
                             alt="{{ object.description }}" class="img-responsive">
                    {% endif %}
                </a>
            </figure>
            <h2>{{ object.description }}
            </h2>

            <div class="under-object">
                <div class="object-action">
                    <div class="social-group"
                         data-url="{{ url('object_show', { 'type': object.getUrlType(), 'name': object.description|to_url, 'id': object.id }) }}">
                        <button class="facebook"><i class="fa fa-facebook"></i></button>
                        <button class="twitter"><i class="fa fa-twitter"></i></button>
                        <button class="google"><i class="fa fa-google-plus"></i></button>
                    </div>
                    <a href="{{ path('object_show', { 'type': object.getUrlType(), 'name': object.description|to_url, 'id': object.id }) }}#comments"
                       class="comment-count">
                        <span>{{ object.getNumComments() }}</span>
                    </a>


                    <div class="vote">
                        {% set vote = 0 %}
                        {% if app.user %}
                            {% if app.user.getVoteObject(object) %}
                                {% set vote = app.user.getVoteObject(object).vote %}
                            {% endif %}
                        {% endif %}

                        <button type="button"
                                class="vote-up btn {% if vote == 1 %}active{% endif %}">
                            <i class="fa fa-thumbs-up"></i>
                        </button>
                        <span class="vote-count">{{ object.getNumberVote() }}</span>
                        <button type="button"
                                class="vote-down btn {% if vote == -1 %}active{% endif %}">
                            <i class="fa fa-thumbs-down"></i>
                        </button>


                    </div>
                </div>

                <p>Dodano:
                    <time datetime="{{ object.createdAt|date("Y-m-d H:i") }}">{{ object.createdAt|date("Y.m.d") }}</time>
                    przez: <span>{{ object.user.username }}</span></p>
            </div>
        </article>
    {% endfor %}
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>

{% endblock %}
