{% extends 'base.html.twig' %}

{% block stylesheets -%}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/css/fine-uploader-new.min.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/css/sweetalert.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/css/nprogress.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/css/bootstrap-tagsinput.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/css/uploader.css') }}"/>

    <noscript>
        <style type="text/css">
            .form-upload {
                display: block;
            }
        </style>
    </noscript>
{% endblock %}

{% block title -%}
    Dodawanie
{% endblock %}
    {% block body -%}
        <!-- Fine Uploader Gallery template
               ====================================================================== -->
        <script type="text/template" id="qq-template-uploader">
            {% include 'object/upload.html.twig' %}
        </script>
        <div class="row placeholders object-upload">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#image" aria-controls="image" role="tab"
                                                          data-toggle="tab"><i class="fa fa-picture-o"></i> Obrazek</a>
                </li>
                <li role="presentation"><a href="#youtube" aria-controls="youtube" role="tab" data-toggle="tab"><i
                                class="fa fa-youtube"></i> Youtube</a>
                </li>
                <li role="presentation"><a href="#facebook" aria-controls="facebook" role="tab"
                                           data-toggle="tab"><i class="fa fa-facebook"></i> Facebook</a></li>
                {#<li role="presentation"><a href="#mems" aria-controls="mems" role="tab" data-toggle="tab">Memy</a></li>#}
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="image">
                    <div id="fine-uploader" data-endpoint="{{ oneup_uploader_endpoint('images') }}"></div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="youtube">
                    <div class="row video-con">
                        <h3>Dodawnie filmu z YouTube</h3>
                        <input type="text" class="video-url form-control" placeholder="Wklej adres filmu z youtube">
                        <span class="error">Adres filmu Youtube jest nie prawidłowy</span>
                        <button type="button" class="btn btn-default add-video">Dodaj film</button>
                    </div>
                    <div class="row video-con-form">
                        <div class="col-sm-7">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="" frameborder="0" allowfullscreen></iframe>
                            </div>
                        </div>
                        <div class="col-sm-5 video-form">

                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="facebook">
                    <div class="row video-con">
                        <h3>Dodawnie filmu z Facebook</h3>
                        <input type="text" class="video-url form-control" placeholder="Wklej adres filmu z facebook">
                        <span class="error">Adres filmu Facebook jest nie prawidłowy</span>
                        <button type="button" class="btn btn-default add-video">Dodaj film</button>
                    </div>
                    <div class="row video-con-form">
                        <div class="col-sm-7">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="" frameborder="0" allowfullscreen></iframe>
                            </div>
                        </div>
                        <div class="col-sm-5 video-form">

                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="mems">...</div>
            </div>

            <div class="form-upload">
                {{ form_start(form) }}
                {% for child in form %}
                    <div class="form-group">
                        {% if 'description' == child.vars.name %}
                            {{ form_widget(child, { 'attr': {'class': 'form-control', 'placeholder': child.vars.label} }) }}
                            <span class="error">Opis nie może być pusta</span>
                        {% elseif 'tags' == child.vars.name %}
                            <input type="text" placeholder="Tagi" class="form-control" data-role="tagsinput">
                            {{ form_widget(child, { 'attr': {
                                'class': 'form-control hidden',
                                'placeholder': child.vars.label,
                                'data-role': 'tagsinput'} }) }}
                            <p class="help-block">Każdy tag musi być zakończony przecinkiem. Niedozwolone są następujące
                                znaki:
                                !<;>;?=+#"°{}_$%.</p>
                        {% else %}
                            {{ form_widget(child, { 'attr': {'class': 'form-control', 'placeholder': child.vars.label} }) }}
                        {% endif %}
                    </div>
                {% endfor %}
                <div class="form-group">
                    <button type="button" class="btn btn-lg btn-primary btn-save"><i class="glyphicon glyphicon-ok"></i>
                        Zapisz
                    </button>
                    <button type="button" class="btn btn-lg btn-default qq-upload-cancel-selector"><i
                                class="glyphicon glyphicon-remove"></i> Anuluj
                    </button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>

    {% endblock %}

    {% block javascripts -%}
        <script type="text/javascript" src="{{ asset('bundles/app/js/jquery.fine-uploader.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/app/js/sweetalert.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/app/js/nprogress.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/app/js/bootstrap-tagsinput.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/app/js/jquery.autocomplete.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/app/js/uploader.js') }}"></script>
    {% endblock %}