{% extends 'base.html.twig' %}

{% block title %} {{ object.description  }}{% endblock %}
{%  block meta %}
    <meta property="og:url" content="{{ url('object_show', { 'type': object.getUrlType(), 'name': object.description|to_url, 'id': object.id }) }}" />
    <meta property="og:image" content="{{ object.getWebPath() | imagine_filter('article') }}" />
    <meta property="og:site_name" content="Ekstraklasa Trolls" />
    <meta property="og:description" content="{{ object.description  }}" />
    <meta property="og:type" content="object" />

{% endblock %}
{% block section %}

        <article class="post-container" data-object-id="{{ object.id }}">
            <div class="tags">
                {% for tag in object.tags %}
                    <a href="#">#{{ tag.name }}</a>
                {% endfor %}
            </div>
            <figure>

                <a href="{{ path('object_show', { 'type': object.getUrlType(), 'name': object.description|to_url, 'id': object.id }) }}">
                    {% if object.type == constant('IMAGE_TYPE', object) %}
                        <img src="{{ object.getWebPath() | imagine_filter('article') }}"
                             alt="{{ object.description }}" class="img-responsive">
                    {% elseif object.type == constant('YOUTUBE_TYPE', object) %}
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item"
                                    src="https://www.youtube.com/embed/{{ object.src }}" frameborder="0"
                                    allowfullscreen></iframe>
                        </div>
                    {% else %}

                        <img src="{{ object.getWebPath() | imagine_filter('article') }}"
                             alt="{{ object.description }}" class="img-responsive">
                    {% endif %}
                </a>
            </figure>
            <h2>{{ object.description }}
            </h2>

            <div class="under-object">
                <div class="object-action">
                    <div class="social-group"
                         data-url="{{ url('object_show', { 'type': object.getUrlType(), 'name': object.description|to_url, 'id': object.id }) }}">
                        <button class="facebook"><i class="fa fa-facebook"></i></button>
                        <button class="twitter"><i class="fa fa-twitter"></i></button>
                        <button class="google"><i class="fa fa-google-plus"></i></button>
                    </div>
                    <a href="{{ path('object_show', { 'type': object.getUrlType(), 'name': object.description|to_url, 'id': object.id }) }}#comments"
                       class="comment-count">
                        <span>{{ object.getNumComments() }} </span>
                    </a>


                    <div class="vote">
                        {% set vote = 0 %}
                        {% if app.user %}
                            {% if app.user.getVoteObject(object) %}
                                {% set vote = app.user.getVoteObject(object).vote %}
                            {% endif %}
                        {% endif %}

                        <button type="button"
                                class="vote-up btn {% if vote == 1 %}active{% endif %}">
                            <i class="fa fa-angle-up"></i>
                        </button>
                        <span class="vote-count">{{ object.getNumberVote() }}</span>
                        <button type="button"
                                class="vote-down btn {% if vote == -1 %}active{% endif %}">
                            <i class="fa fa-angle-down"></i>
                        </button>


                    </div>
                </div>

                <p>Dodano:
                    <time datetime="{{ object.createdAt|date("Y-m-d H:i") }}">{{ object.createdAt|date("Y.m.d") }}</time>
                    przez: <span>{{ object.user.username }}</span></p>
            </div>
        </article>

<div id="fos_comment_thread" data-thread="{{ commentsThread.thread.id }}">

    {% include 'FOSCommentBundle:Thread:comments.html.twig' with {
    'comments': commentsThread.comments,
    'thread': commentsThread.thread
    } %}


    {% endblock %}



    {% block stylesheets %}
     <link rel="stylesheet" href="{{ asset('bundles/foscomment/css/comments.css') }}">
    {% endblock %}


    {% block javascripts %}
        {# jQuery must be available in the page by this time, and make sure javascript block is after
          <div id="fos_comment_thread"> in the DOM Tree, for example right before </body> tag
        #}
        <script type="text/javascript" src="{{ asset('bundles/foscomment/js/comments.js') }}"></script>
        <script>


</script>
{% endblock %}