<div class="qq-uploader-selector qq-uploader qq-gallery">

    <div class="qq-select-type">
        <div class="row">
            <span class="qq-drop-area-text">Przeciągnij obrazek tutaj</span>
        </div>
        <div class="row">
            <span class="qq-alternative">- lub -</span>
        </div>
        <div class="row">
            <button type="button" class="btn btn-default qq-upload-button-selector">Wybierz obrazek z komputera</button>
        </div>
        <div class="row">
            <span class="qq-alternative">- lub -</span>
        </div>
        <div class="row">
            <input type="text" class="upload-image-form-url form-control" placeholder="Wklej adres zdjęcia">
            <span class="error">Adres obrazka jest nie prawidłowy</span>
            <button type="button" class="btn btn-default add-image-url">Dodaj obrazek</button>
        </div>
    </div>
    <div class="qq-upload-drop-area-selector qq-upload-drop-area" qq-hide-dropzone>
        <span class="qq-drop-over">Upuść obrazek tutaj</span>
        <span class="qq-drop-enter">Upuść obrazek</span>
    </div>

    <div class="qq-upload-list-selector qq-upload-list" role="region" aria-live="polite"
         aria-relevant="additions removals">
        <div class="row">
            <div class="col-sm-7">
                <div class="qq-thumbnail-wrapper">
                    <img class="qq-thumbnail-selector img-responsive" qq-max-size="600" qq-server-scale>
                </div>
                <div class="qq-file-info">
                    <div class="qq-file-name">
                        <span class="qq-upload-file-selector qq-upload-file"></span>
                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="qq-upload-form">

                </div>
            </div>
        </div>
    </div>


</div>