{% for questionnaire in questionnaires %}
    <div class="module" id="questionnaire-{{ loop.index }}">
        <h3>{{ questionnaire.name }}</h3>
        <form action="{{ path('questionnaire_vote') }}" method="post"
              class="questionnaire {% if not app.user %}must-login{% endif %}">
            <ul class="answers">
                {% set countVotes  = 0 %}
                {% set maxVote  = 0 %}
                {% for answer in questionnaire.answers %}
                    {% set countVotes  = countVotes + answer.users|length %}
                    {% if maxVote < answer.users|length %} {% set maxVote = answer.users|length %} {% endif %}
                    <li>
                        <input type="radio" id="answer-{{ answer.id }}" name="answer" value="{{ answer.id }}"
                                {% if app.user and app.user.answers.contains(answer) %} checked {% endif %}
                        >
                        <label for="answer-{{ answer.id }}">{{ answer.footballer }}
                            <span>  - {{ answer.footballer.club }}</span></label>

                        <div class="check"></div>
                    </li>
                {% endfor %}
            </ul>
            <ul class="result">
                {% for answer in questionnaire.answers %}
                    <li>
                        <div class="row mobile">
                            <div class="col-6">
                                <label>{{ answer.footballer.surname }}
                                </label>
                            </div>
                            <div class="col-6">
                                {% if answer.users  and countVotes != 0 %}
                                    {% set percent = (answer.users|length * 100) / countVotes %}
                                    <span class="progress {% if maxVote == answer.users|length %}win{% endif %}"
                                          style="width: {{ percent }}%">{{ percent|round(1, 'floor') }}%</span>
                                    {% else %}
                                        <span class="progress">0%</span>
                                {% endif %}
                            </div>
                        </div>

                    </li>
                {% endfor %}
            </ul>
            <input type="hidden" value="{{ app.request.getUri() }}#questionnaire-{{ loop.index }}" name="referer">
            <div class="row mobile">
                <div class="col-6">
                    <button type="submit" class="btn default">Zagłosuj</button>
                </div>
                <div class="col-9">
                    <button type="button" class="btn link show-result">Pokaż wyniki</button>
                </div>
            </div>

        </form>
    </div>
{% endfor %}