{% extends 'admin.html.twig' %}

{% block sctionTitle %}Piłkarze {% endblock %}
{% block panel %}
    {{ include('AdminBundle:Default:panel.html.twig', {title: 'edycja', entity: footballer, form: edit_form, delete_form: delete_form}) }}
{% endblock %}
