{% extends 'admin.html.twig' %}

{% block sctionTitle %} Piłkarze {% endblock %}
{% block panel %}
    {% set attributes = {id: 'Id', firstName: 'Imię', surname: 'Nazwisko', club: ['Klub', 'name'] , action: 'footballer' }  %}
    {{ include('AdminBundle:Default:panel.html.twig', {title: 'lista', attributes: attributes, entities: footballers}) }}
{% endblock %}
