{% extends 'admin.html.twig' %}

{% block sctionTitle %}Artykuły {% endblock %}
{% block panel %}
    {{ include('AdminBundle:Default:panel.html.twig', {title: 'edycja', entity: article, form: edit_form, delete_form: delete_form}) }}
{% endblock %}


{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/admin/css/summernote.css') }}">
{% endblock %}



{% block javascripts %}
    <script type="text/javascript" src="{{ asset('bundles/admin/js/summernote.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/admin/js/summernote-pl-PL.min.js') }}"></script>

    <script>
        $(document).ready(function () {
            $('textarea').summernote({
                fontNames: ['Arial', 'Arial Black']
               /* callbacks: {
                    onKeyup: function(e) {
                        console.log($(this).val().replace(/(<([^>]+)>)/ig,"").length);
                    }
                }*/
            });
        });
    </script>
{% endblock %}