{% extends 'admin.html.twig' %}

{% block sctionTitle %} Artykuły {% endblock %}
{% block panel %}
    {% set attributes = {id: 'Id', title: 'Tytuł', createdAt: 'Data dodania', user: ['Użytkownik', 'username'] , action: 'article' }  %}
    {{ include('AdminBundle:Default:panel.html.twig', {title: 'lista', attributes: attributes, entities: articles}) }}
{% endblock %}