{% extends 'admin.html.twig' %}

{% block sctionTitle %}Artykuły {% endblock %}
{% block panel %}
    {{ include('AdminBundle:Default:panel.html.twig', {title: 'dodawanie', form: form}) }}
{% endblock %}