<div class="col-lg-{% if column is defined %}{{ column }}{% else %}12{% endif %}">
    <div class="panel panel-default">
        {% if title is defined %}
            <div class="panel-heading">
                <h3 class="panel-title">{{ title }}{% if entity is defined %}: {{ entity }} {% endif %}</h3>
            </div>
        {% endif %}
        <div class="panel-body">
            {% if form is defined %}

                {{ form_start(form) }}
                <table class="table">
                    <tbody>
                    {% for new_form in form %}
                        {% if '_token' not in form_label(new_form) and new_form.vars.name != collection|keys[0] %}
                            <tr>
                                <td>{{ form_label(new_form) }}</td>
                                <td>
                                    {{ form_widget(new_form, {'attr': {'class': 'form-control input-sm' }}) }}
                                    <div class="error">{{ form_errors(new_form) }}</div>
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>

                <ul id="collection-form"
                    data-prototype="{{ form_widget(form.children[collection|keys[0]].vars.prototype)|e }}">
                    {% for item in form.children[collection|keys[0]] %}
                        <li>
                            <div>
                                {% for attr in collection[collection|keys[0]] %}
                                    {{ form_row(item.children[attr]) }}
                                {% endfor %}
                            </div>
                        </li>
                    {% endfor %}
                </ul>
                <button type="submit"/>Zapisz</button>
                {{ form_widget(form._token) }}
                {{ form_end(form) }}
                {% if delete_form is defined %}
                    {{ form_start(delete_form) }}
                    <button type="submit"/>Usuń</button>
                    {{ form_end(delete_form) }}
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>

