<div class="col-lg-{% if column is defined %}{{ column }}{% else %}12{% endif %}" xmlns="http://www.w3.org/1999/html">
    <div class="panel panel-default">
        {% if title is defined %}
            <div class="panel-heading">
                <h3 class="panel-title">{{ title }}{% if entity is defined %}: {{ entity }} {% endif %}</h3>
            </div>
        {% endif %}
        <div class="panel-body">
            {% if entities is defined and attributes is defined %}
                {% if attributes['action'] is defined %}
                    <a href="{{ path('admin_'~attributes['action']~'_new') }}">Dodaj nowy</a>
                {% endif %}
                <table class="table table-striped ">
                    <thead>
                    {% for attr in attributes %}
                        {% if attr is iterable %}
                            <th>{{ attr[0] }}</th>
                        {% elseif attributes['action'] is defined and attributes['action'] == attr %}
                            <th>Akcje</th>
                        {% else %}
                            <th>{{ attr }}</th>
                        {% endif %}
                    {% endfor %}
                    </thead>
                    {% for entity in entities|cast_to_array %}
                        <tr>
                            {% for attr in attributes|keys %}
                                {% if attr == 'createdAt' %}
                                    <td>{{ entity[attr]|date('Y-m-d') }}</td>
                                {% elseif attr == 'active' %}
                                    <td>{% if entity[attr] %} <span class="label label-success">Tak</span>{% else %}
                                            <span class="label label-danger">Nie</span>{% endif %}</td>
                                {% elseif attr is iterable %}
                                    <td>{{ entity[attr].attributes[attr][1] }}</td>
                                {% elseif attr == 'action' %}
                                    <td><a href="{{ path('admin_'~attributes[attr]~'_edit', {'id': entity.id }) }}">Edytuj</a>
                                    </td>
                                {% else %}
                                    <td>{{ entity[attr] }}</td>
                                {% endif %}

                            {% endfor %}

                        </tr>
                    {% endfor %}
                </table>
            {% elseif form is defined %}
                {{ form_start(form) }}
                <table class="table">
                    <tbody>
                    {% for new_form in form %}
                        {% if '_token' not in form_label(new_form) %}
                            <tr>
                                <td>{{ form_label(new_form) }}</td>
                                <td>
                                    {{ form_widget(new_form, {'attr': {'class': 'form-control input-sm' }}) }}
                                    <div class="error">{{ form_errors(new_form) }}</div>
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
                <button type="submit"/>Zapisz</button>
                {{ form_widget(form._token) }}
                {{ form_end(form) }}
                {% if delete_form is defined %}
                    {{ form_start(delete_form) }}
                    <button type="submit"/>Usuń</button>
                    {{ form_end(delete_form) }}
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>
