<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %} Panel Admin - Ekstraklas Trolls {% endblock %}</title>

    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,300,400italic,400,600italic,600,700italic,700,800italic,800&subset=latin,latin-ext"
          rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{{ asset('bundles/app/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/admin/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/admin/css/style.css') }}">

    {% block stylesheets %}{% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>

<body>

<header>

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2">
                <div class="logo">
                    <a href="{{ path('object_index') }}"><img src="{{ asset('bundles/admin/image/logo.png') }}"
                                                              alt="logo"/></a>
                </div>
            </div>
            <div class="col-lg-10">
                <nav>

                </nav>
            </div>
        </div>
    </div>
</header>
<main>
    <div class="container-fluid">
        <aside>
            <nav>
                {{ knp_menu_render('AdminBundle:Builder:mainMenu',  {'currentClass': 'active', 'template': 'AdminBundle:Menu:knp_menu.html.twig'}) }}
            </nav>
        </aside>
        <section>

            <h2>{% block sctionTitle %}Strona startowa{% endblock %}</h2>

            <div class="row">
                {% block panel %}{% endblock %}
            </div>


        </section>

    </div>
</main>


<!-- Latest compiled and minified JavaScript -->
<script src="https://code.jquery.com/jquery-2.2.3.min.js"
        integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>

<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>

<script type="text/javascript" src="{{ asset('bundles/admin/js/bootstrap.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/admin/js/collectionForm.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/admin/js/script.js') }}"></script>

{% block javascripts %}{% endblock %}

</body>
</html>