<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %} Ekstraklasa Trolls</title>

    {% block meta %} {% endblock %}

    <link rel="stylesheet" href="{{ asset('bundles/app/css/main.css') }}" />
    {% block stylesheets %}
      {#  {% stylesheets filter='cssrewrite,scssphp'
        '@AppBundle/Resources/public/scss/style.scss'
        %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}#}
    {% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>

</head>
<body>
<header>
    <div class="top">
        <div class="container">
            <nav>
                {{ knp_menu_render('AppBundle:Builder:topMenu',  {'currentClass': 'active', 'template': 'menu/knp_menu.html.twig'}) }}
            </nav>
        </div>
    </div>
    <div class="container">
        <div class="nav-main">

            <div class="logo">
                <a href="{{ path('object_index') }}"><img src="{{ asset('bundles/app/image/logo.png') }}"
                                                          alt="logo"/></a>
            </div>
            <nav>
                {{ knp_menu_render('AppBundle:Builder:mainMenu',  {'currentClass': 'active', 'template': 'menu/knp_menu.html.twig'}) }}
            </nav>
        </div>
    </div>
</header>
<main>
    <div class="container">
        <section class="slider">
            <h2><strong>Zapraszamy</strong> do ligi typerów</h2>
            <p>Jeśli pasjonujesz się piłką nożną to świetnie trafiłeś! Strona którą właśnie oglądasz to największa i
                najstarsza liga typerów, konkurs typer w którym wirtualnie i za darmo zgadujesz wyniki prawdziwych
                meczów
                piłkarskich.</p>
            <a href="#" class="btn">zagraj</a>
        </section>
        <div class="row">
            <section class="col-8">
                {% block section %}

                {% endblock %}
            </section>
            <aside class="col-4">
                {% block aside %}
                    {{ include('questionnaire/index.html.twig') }}
                {% endblock %}
            </aside>
        </div>


    </div>
</main>
<footer>
    <div class="container">

        <div class="logo">
            <a href="{{ path('object_index') }}"><img src="{{ asset('bundles/app/image/logo.png') }}"
                                                      alt="logo"/></a>
        </div>
        <nav>
            {{ knp_menu_render('AppBundle:Builder:footerMenu',  {'currentClass': 'active', 'template': 'menu/knp_menu.html.twig'}) }}
            <ul class="social">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                <li><a href="#"><i class="fa fa-youtube-play"></i></a></li>
            </ul>
        </nav>
    </div>
</footer>

<!-- Latest compiled and minified JavaScript -->
<script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
<script src="https://use.fontawesome.com/6eded3988a.js"></script>
<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>

<script type="text/javascript" src="{{ asset('bundles/app/js/script.js') }}"></script>

{% block javascripts %}{% endblock %}
</body>
</html>
