{% extends 'base.html.twig' %}

{% block body %}
    <h1>Season list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for season in seasons %}
            <tr>
                <td><a href="{{ path('season_show', { 'id': season.id }) }}">{{ season.id }}</a></td>
                <td>{{ season.date }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('season_show', { 'id': season.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('season_edit', { 'id': season.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('season_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
