{% extends 'base.html.twig' %}

{% block body %}
    <h1>TyperMatch list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Numberqueue</th>
                <th>Datetime</th>
                <th>Resulta</th>
                <th>Resultb</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for typerMatch in typerMatches %}
            <tr>
                <td><a href="{{ path('typermatch_show', { 'id': typerMatch.id }) }}">{{ typerMatch.id }}</a></td>
                <td>{{ typerMatch.numberQueue }}</td>
                <td>{% if typerMatch.dateTime %}{{ typerMatch.dateTime|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ typerMatch.resultA }}</td>
                <td>{{ typerMatch.resultB }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('typermatch_show', { 'id': typerMatch.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('typermatch_edit', { 'id': typerMatch.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('typermatch_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
