{% extends 'base.html.twig' %}

{% block body %}
    <h1>TyperMatch</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ typerMatch.id }}</td>
            </tr>
            <tr>
                <th>Numberqueue</th>
                <td>{{ typerMatch.numberQueue }}</td>
            </tr>
            <tr>
                <th>Datetime</th>
                <td>{% if typerMatch.dateTime %}{{ typerMatch.dateTime|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Resulta</th>
                <td>{{ typerMatch.resultA }}</td>
            </tr>
            <tr>
                <th>Resultb</th>
                <td>{{ typerMatch.resultB }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('typermatch_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('typermatch_edit', { 'id': typerMatch.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
