{% extends 'admin.html.twig' %}

{% block sctionTitle %} Ankieta Piłkarska {% endblock %}

{% block panel %}
    {% set collection = {'answers' : ['footballer']}  %}
    {{ include('AdminBundle:Default:collection_form.html.twig', {title: 'edycja', collection: collection, entity: questionnaire, form: form, delete_form: delete_form}) }}
{% endblock %}

{% block javascripts -%}
    <script>
        new CollectionForm();
    </script>
{% endblock %}
