{% extends 'admin.html.twig' %}

{% block sctionTitle %} Ankieta Piłkarska {% endblock %}
{% block panel %}
    {% set attributes = {id: 'Id', name: 'Nazwa', createdAt: 'Data dodania', active: 'Włączone', action: 'questionnaire' }  %}
    {{ include('AdminBundle:Default:panel.html.twig', {title: 'lista', attributes: attributes, entities: entities}) }}
{% endblock %}