
{% extends 'admin.html.twig' %}

{% block sctionTitle %} Ankieta Piłkarska {% endblock %}

{% block panel %}
    {% set collection = {'answers' : ['footballer']}  %}
    {{ include('AdminBundle:Default:collection_form.html.twig', {title: 'Dodaj', collection: collection, form: form,}) }}
{% endblock %}

{% block javascripts -%}
    <script>
        new CollectionForm();
    </script>
{% endblock %}



