{% extends 'base.html.twig' %}

{% block section %}
    <div class="btn-group">
        <a href="#" class="btn default">asdsad</a>
        <a href="#" class="btn">asdsad</a>
    </div>

    <article class="table-football">
        <header>
            <h2>{{ tableFootball.league.name ~ ' ' ~ tableFootball.season }}</h2>
        </header>
        <table>
            <thead>
            <th>Poz.</th>
            <th></th>
            <th></th>
            <th>M</th>
            <th>Z</th>
            <th>R</th>
            <th>P</th>
            <th>G+</th>
            <th>G-</th>
            <th>G+/G-</th>
            <th>PTS</th>
            </thead>
            <tbody>
            {% for club in tableFootball.tableFootballClubs %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td class="club-logo">{% if  club.club.getWebLogo() %}<img
                            src="{{ club.club.getWebLogo() | imagine_filter('thumb_club_table') }}"
                            alt="{{ club.club.name }}">{% endif %}</td>
                    <td class="club">{{ club.club.name }}</td>
                    <td>{{ club.matches }}</td>
                    <td>{{ club.won }}</td>
                    <td>{{ club.draw }}</td>
                    <td>{{ club.lost }}</td>
                    <td>{{ club.goalsScored }}</td>
                    <td>{{ club.goalsAgainst }}</td>
                    <td>{{ club.goalDifference }}</td>
                    <td>{{ club.points }}</td>
                    <td></td>
                </tr>
            {% endfor %}
            <tr></tr>
            </tbody>
        </table>
    </article>
{% endblock %}
