{% extends 'base.html.twig' %}




{% block body %}

    <section class="profile-header">
        <div class="row">
            <div class="col-lg-6">
                <div class="user-avatar">
                    <img src="{{ user.getWebPath() | imagine_filter('avatar') }}">
                </div>
                <div class="user-name">
                    {{ user.username }}
                </div>
            </div>
            <div class="col-lg-6">
                <div class="user-metrics">
                    <div class="user-points">
                        <strong>{{ user.getObjects|length }}</strong><br>
                        punkty
                    </div>
                    <div>
                        <a href="" class="btn btn-primary"><i class="fa fa-cog"></i> Ustawienia</a>
                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <h2>Posty użytkownika</h2>
        </div>
    </section>

<div class="row">
    <section class="col-lg-12">
        {% for object in user.getObjects %}
            <article class="post-container" data-object-id="{{ object.id }}">
                <header>

                    <div class="info">
                        <h2>{{ object.description }}
                            <div class="tags">
                                {% for tag in object.tags %}
                                    #{{ tag.name }}
                                {% endfor %}
                            </div>
                        </h2>
                        <span class="date-add">{{ object.dateAdd|date("Y-m-d H:i") }}</span>
                    </div>
                    <div class="user">
                        <div class="avatar">
                            <img src="{{ object.user.getWebPath() | imagine_filter('thumb_avatar') }}"
                                 alt="avatar">
                        </div>
                        <div class="username">
                            {{ object.user.username }}
                        </div>
                    </div>
                </header>
                <div class="object">
                    <a href="{{ path('object_show', { 'type': object.getUrlType(), 'name': object.getUrlName(), 'id': object.id }) }}">
                        {% if object.type == constant('IMAGE_TYPE', object) %}
                            <img src="{{ object.getWebPath() | imagine_filter('article') }}"
                                 alt="{{ object.description }}" class="img-responsive">
                        {% elseif object.type == constant('YOUTUBE_TYPE', object) %}
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item"
                                        src="https://www.youtube.com/embed/{{ object.src }}" frameborder="0"
                                        allowfullscreen></iframe>
                            </div>
                        {% else %}
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item"
                                        src="https://www.facebook.com/v2.3/plugins/video.php?app_id=113869198637480&channel=https%3A%2F%2Fs-static.ak.facebook.com%2Fconnect%2Fxd_arbiter%2FR_qmi4A5CC2.js%3Fversion%3D41%23cb%3Df2acc793f4%26domain%3Ddevelopers.facebook.com%26origin%3Dhttps%253A%252F%252Fdevelopers.facebook.com%252Ff23e028d48%26relation%3Dparent.parent&container_width=588&href={{ object.src }}&locale=pl_PL&sdk=joey&width=500"
                                        frameborder="0" allowfullscreen></iframe>
                            </div>
                        {% endif %}
                    </a>
                </div>
                <div class="under-object">

                            <span class="info"><span
                                        class="vote-count">{{ object.getNumberVote() }}</span> punktów - <span
                                        class="comment-count">{{ object.comments|length }}</span> komentarzy</span>

                    <div class="button-group">
                        <div class="vote">
                            {% set vote = 0 %}
                            {% if app.user %}
                                {% if app.user.getVoteObject(object) %}
                                    {% set vote = app.user.getVoteObject(object).vote %}
                                {% endif %}
                            {% endif %}

                            <button type="button"
                                    class="vote-up btn btn-default {% if vote == 1 %}active{% endif %}">
                                <i class="fa fa-plus"></i>
                            </button>
                            <button type="button"
                                    class="vote-down btn btn-default {% if vote == -1 %}active{% endif %}">
                                <i class="fa fa-minus"></i>
                            </button>
                            <a href="{{ path('object_show', { 'type': object.getUrlType(), 'name': object.getUrlName(), 'id': object.id }) }}#comments"
                               class="btn btn-default">
                                <i class="glyphicon glyphicon-comment"></i>
                            </a>
                        </div>
                        <div class="social-group">
                            <a href="#" class="facebook socila"><i class="fa fa-facebook"></i> Facebook</a>
                            <a href="#" class="twitter socila"><i class="fa fa-twitter"></i> Twitter</a>
                        </div>
                    </div>
                </div>
            </article>
        {% endfor %}
    </section>


{% endblock %}
