{% extends 'admin.html.twig' %}

{% block sctionTitle %}Ligi Piłkarskie {% endblock %}
{% block panel %}
    {{ include('AdminBundle:Default:panel.html.twig', {title: 'educja', entity: league, form: edit_form, delete_form: delete_form}) }}
{% endblock %}
