{% extends 'admin.html.twig' %}

{% block sctionTitle %} Ligi Piłkarskie {% endblock %}
{% block panel %}
    {% set attributes = {id: 'Id', name: 'Nazwa', action: 'league' }  %}
    {{ include('AdminBundle:Default:panel.html.twig', {title: 'lista', attributes: attributes, entities: leagues}) }}
{% endblock %}