@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Light.otf") format("opentype"), url("../fonts/Montserrat-Light.woff") format("woff"), url("../fonts/Montserrat-Light.ttf") format("truetype"), url("../fonts/Montserrat-Light.svg#Montserrat-Light") format("svg");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Bold.otf") format("opentype"), url("../fonts/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold.ttf") format("truetype"), url("../fonts/Montserrat-Bold.svg#Montserrat-Bold") format("svg");
  font-weight: 700;
  font-style: normal; }
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background: #101113;
  font-family: "Montserrat", sans-serif;
  background-image: url("../image/bg-main2.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  background-position-y: 130px; }

a {
  text-decoration: none; }

.module ul {
  list-style: none;
  background: url("");
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: left; }
  .module ul.answers {
    display: block; }
  .module ul.result {
    display: none; }
    .module ul.result label {
      padding-left: 0; }
    .module ul.result span.progress {
      display: block;
      padding-left: 5px;
      background-color: #1394ef;
      border-radius: 0 5px 5px 0;
      font-size: 15px;
      margin: 10px 0;
      width: 0%; }
      .module ul.result span.progress.win {
        background: #f36639; }
  .module ul li {
    color: #FFFFFF;
    display: block;
    position: relative;
    float: left;
    width: 100%; }
    .module ul li label {
      display: block;
      position: relative;
      font-weight: 300;
      font-size: 14px;
      padding-left: 22px;
      margin: 10px auto;
      z-index: 9;
      cursor: pointer;
      /*-webkit-transition: all 0.25s linear;*/ }
      .module ul li label span {
        color: #474c53; }
    .module ul li input[type=radio] {
      position: absolute;
      visibility: hidden; }
    .module ul li:hover label {
      /* color: #AAAAAA;*/ }
    .module ul li:hover .check {
      /*border: 5px solid #FFFFFF;*/ }
    .module ul li .check {
      display: block;
      position: absolute;
      border: 2px solid #555c62;
      border-radius: 100%;
      height: 15px;
      width: 15px;
      top: 12px;
      left: 0px;
      z-index: 5;
      /* transition: border .25s linear;
       -webkit-transition: border .25s linear;*/
      -webkit-transition: all 0.3s;
      /* Safari */
      transition: all 0.3s; }
      .module ul li .check::before {
        display: block;
        position: absolute;
        content: '';
        border-radius: 100%;
        height: 7px;
        width: 7px;
        top: 2px;
        left: 2px;
        margin: auto;
        /* transition: background 0.25s linear;
         -webkit-transition: background 0.25s linear;*/
        -webkit-transition: all 0.3s;
        /* Safari */
        transition: all 0.3s; }

input[type=radio]:checked ~ .check {
  border: 2px solid #1394ef; }

input[type=radio]:checked ~ .check::before {
  background: #ffffff; }

input[type=radio]:checked ~ label {
  /*color: #0DFF92;*/ }

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto; }

.row, .row.mobile {
  display: -webkit-flex;
  display: flex;
  width: 100%; }
  .row .col-1, .row.mobile .col-1 {
    width: 8.33333%; }
  .row .col-2, .row.mobile .col-2 {
    width: 16.66667%; }
  .row .col-3, .row.mobile .col-3 {
    width: 25%; }
  .row .col-4, .row.mobile .col-4 {
    width: 33.33333%; }
  .row .col-5, .row.mobile .col-5 {
    width: 41.66667%; }
  .row .col-6, .row.mobile .col-6 {
    width: 50%; }
  .row .col-7, .row.mobile .col-7 {
    width: 58.33333%; }
  .row .col-8, .row.mobile .col-8 {
    width: 66.66667%; }
  .row .col-9, .row.mobile .col-9 {
    width: 75%; }
  .row .col-10, .row.mobile .col-10 {
    width: 83.33333%; }
  .row .col-11, .row.mobile .col-11 {
    width: 91.66667%; }
  .row .col-12, .row.mobile .col-12 {
    width: 100%; }

nav {
  display: inline-block; }
  nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none; }
    nav ul li {
      display: flex;
      align-items: flex-start; }
      nav ul li:last-child a {
        padding-right: 0; }

header {
  background: #212326; }
  header .top {
    background: #ffffff;
    width: 100%;
    text-align: right; }
    header .top nav a {
      padding: 20px 10px;
      font-size: 12px;
      font-weight: 400;
      color: #8c8f94; }
      header .top nav a:hover {
        color: #212326;
        -webkit-transition: all 0.3s;
        /* Safari */
        transition: all 0.3s; }
  header .nav-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px 0; }
    header .nav-main .logo {
      text-align: left; }
    header .nav-main nav {
      text-align: right; }
      header .nav-main nav a {
        padding: 25px 18px;
        font-size: 15px;
        font-weight: 400;
        color: #ffffff; }
      header .nav-main nav li.active a {
        color: #f36639; }
      header .nav-main nav li:hover a {
        color: #f36639;
        -webkit-transition: all 0.3s;
        /* Safari */
        transition: all 0.3s; }

.slider {
  padding: 100px 0;
  color: #ffffff;
  width: 60%;
  background: none; }
  .slider h2 {
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 40px; }
    .slider h2 strong {
      font-weight: bold; }
  .slider p {
    text-shadow: 2px 2px #000;
    line-height: 1.5; }
  .slider a {
    font-size: 20px;
    margin-top: 40px;
    background: #f36639;
    padding: 10px 50px; }
    .slider a:hover {
      background: #CE3F12;
      -webkit-transition: all 0.3s;
      /* Safari */
      transition: all 0.3s; }

.article {
  margin: -40px;
  background: #ffffff;
  padding-bottom: 40px; }
  .article article {
    background: #ffffff;
    margin-bottom: 0;
    padding-bottom: 0; }
    .article article figure {
      padding-right: 20px; }
    .article article h2 {
      color: #101113;
      font-weight: bold;
      text-align: left;
      padding: 10px 0;
      font-size: 28px;
      margin-bottom: 10px; }
    .article article time {
      color: #1394ef;
      font-weight: bold; }
    .article article .content {
      padding: 0 0 0 10px;
      text-align: left; }
      .article article .content h2 {
        font-size: 18px; }
      .article article .content time {
        color: #1394ef;
        font-weight: bold; }
      .article article .content p.intro {
        color: #101113;
        font-size: 12px;
        line-height: 1.5; }
  .article a:hover h2 {
    color: #f36639;
    -webkit-transition: all 0.3s;
    /* Safari */
    transition: all 0.3s; }
  .article.single time {
    font-weight: 100; }
  .article.single .author {
    color: #8c8f94;
    margin-bottom: 10px;
    font-size: 14px; }
  .article.single figure {
    padding: 0;
    margin: 0 -40px; }
  .article.single .content {
    margin-top: 20px; }

.btn {
  text-align: center;
  padding: 10px 20px;
  font-size: 15px;
  color: #ffffff;
  border-radius: 5px;
  display: inline-block;
  border: none;
  cursor: pointer; }
  .btn.default {
    background: #1394ef; }
    .btn.default:hover {
      background: #006398;
      -webkit-transition: all 0.3s;
      /* Safari */
      transition: all 0.3s; }
  .btn.link {
    background: none;
    font-size: 13px;
    color: #718699; }
    .btn.link:hover {
      color: #ffffff;
      -webkit-transition: all 0.3s;
      /* Safari */
      transition: all 0.3s; }

.btn-group {
  display: inline-block;
  background: #101113; }

.social-group {
  display: inline-block; }
  .social-group button {
    background: none;
    border: none;
    font-size: 24px;
    margin-right: 10px;
    cursor: pointer; }
    .social-group button.facebook {
      color: #4372cd; }
    .social-group button.twitter {
      color: #24aadd; }
    .social-group button.google {
      color: #d23e30; }

.vote {
  display: inline-block; }
  .vote button {
    padding: 8px 15px; }
    .vote button.vote-up {
      background: #1394ef; }
    .vote button.vote-down {
      background: #f36639; }

section {
  background: #1a1b1e;
  padding: 40px; }
  section article {
    background: #101113;
    padding: 40px;
    margin-bottom: 50px; }
    section article h2 {
      color: #ffffff;
      text-align: center;
      font-size: 25px;
      font-weight: 400;
      padding: 20px 10px; }
    section article .tags {
      margin-bottom: 5px; }
      section article .tags a {
        color: #8c8f94; }
        section article .tags a:hover {
          color: #f36639;
          -webkit-transition: all 0.3s;
          /* Safari */
          transition: all 0.3s; }
    section article .under-object {
      background: #08090a;
      margin: 0 -40px -40px -40px;
      padding: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: #ffffff; }
      section article .under-object .object-action {
        text-align: left; }
      section article .under-object .comment-count {
        background-image: url("../image/cloud3.png");
        background-repeat: no-repeat;
        background-position-y: 6px;
        margin-right: 10px;
        background-size: contain;
        font-size: 11px;
        padding: 21px 12px 17px 29px;
        color: #ffffff;
        position: relative; }
        section article .under-object .comment-count span {
          position: absolute;
          right: 17px;
          top: 16px; }
      section article .under-object p {
        display: inline-block;
        color: #718699;
        text-align: right;
        font-size: 13px; }
        section article .under-object p span, section article .under-object p time {
          color: #ffffff; }

aside {
  background: #212326;
  padding: 15px;
  color: #ffffff;
  font-size: 15px; }
  aside .module {
    text-align: left;
    margin-bottom: 20px; }
    aside .module h3 {
      font-size: 15px;
      border-bottom: 1px solid #2f3137;
      color: #718699;
      padding-bottom: 10px;
      margin-bottom: 15px;
      text-align: left; }
    aside .module button {
      margin-top: 10px; }
    aside .module > .row {
      margin-bottom: 10px; }

article.table-football {
  padding: 0;
  background: none; }
  article.table-football header {
    background: none;
    margin-top: 20px; }
    article.table-football header h2 {
      text-align: left;
      color: #f36639;
      font-size: 20px; }
  article.table-football table {
    width: 100%;
    border-collapse: collapse;
    color: #ffffff;
    font-size: 13px; }
    article.table-football table thead {
      color: #718699;
      font-weight: 100; }
    article.table-football table th, article.table-football table td {
      text-align: center;
      border: none;
      padding: 10px 0; }
    article.table-football table tbody tr {
      -webkit-transition: all 0.3s;
      /* Safari */
      transition: all 0.3s; }
      article.table-football table tbody tr:nth-child(even) {
        background: #212326; }
      article.table-football table tbody tr:first-child {
        background: #303338; }
      article.table-football table tbody tr:hover {
        background: #718699; }
      article.table-football table tbody tr td.club, article.table-football table tbody tr td.club-logo {
        text-align: left; }

.img-responsive {
  width: 100%; }

.pagination {
  text-align: center; }
  .pagination span > a, .pagination .current {
    background: #212326;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 5px;
    margin: 0 5px;
    color: #ffffff; }
  .pagination .current, .pagination a:hover {
    color: #f36639;
    -webkit-transition: all 0.3s;
    /* Safari */
    transition: all 0.3s; }
  .pagination .separator {
    color: #ffffff;
    padding: 0; }

footer {
  margin-top: 30px; }
  footer .container {
    display: flex;
    justify-content: space-between;
    padding: 3px 0;
    align-items: center; }
  footer .logo {
    text-align: left; }
    footer .logo img {
      width: 75px; }
  footer nav {
    text-align: right;
    display: flex; }
    footer nav a {
      padding: 25px 5px;
      font-size: 13px;
      font-weight: 400;
      color: #8c8f94; }
    footer nav li.active a {
      color: #f36639; }
    footer nav li:hover a {
      color: #f36639;
      -webkit-transition: all 0.3s;
      /* Safari */
      transition: all 0.3s; }
    footer nav ul.social {
      margin-left: 10px; }
      footer nav ul.social a {
        padding-top: 20px;
        font-size: 20px; }

@media (max-width: 762px) {
  body {
    background-size: 120%;
    background-position-y: 130px; }

  header .nav-main nav a {
    padding: 5px; }
  header .top nav {
    display: block; }
    header .top nav ul {
      justify-content: center; }

  section {
    padding: 10px 20px 30px 20px; }
    section article {
      padding: 20px;
      margin-bottom: 25px; }
      section article h2 {
        padding: 10px;
        font-size: 16px; }
      section article figure {
        margin: 0 -20px; }
      section article .under-object {
        display: block;
        justify-content: center;
        margin: 0 -20px -20px -20px; }
        section article .under-object .object-action {
          text-align: center; }
        section article .under-object p {
          margin-top: 10px;
          width: 100%;
          text-align: center; }
    section .article {
      margin: -20px; }
      section .article.single figure {
        margin: 0 -20px; }
      section .article article figure {
        padding: 0;
        margin: 0; }

  .row {
    display: block; }
    .row .col-1 {
      width: 100%; }
    .row .col-2 {
      width: 100%; }
    .row .col-3 {
      width: 100%; }
    .row .col-4 {
      width: 100%; }
    .row .col-5 {
      width: 100%; }
    .row .col-6 {
      width: 100%; }
    .row .col-7 {
      width: 100%; }
    .row .col-8 {
      width: 100%; }
    .row .col-9 {
      width: 100%; }
    .row .col-10 {
      width: 100%; }
    .row .col-11 {
      width: 100%; }
    .row .col-12 {
      width: 100%; }

  .slider {
    margin: 0 auto;
    width: 90%;
    padding: 20px 0; }
    .slider h2 {
      font-size: 25px;
      margin-bottom: 20px; }

  footer {
    padding: 0 20px; }
    footer nav ul {
      display: none; }
      footer nav ul.social {
        display: block;
        width: 100%; }
        footer nav ul.social li {
          display: inline-block; }
        footer nav ul.social a {
          padding-top: 0;
          font-size: 40px;
          margin-right: 20px; }

  .fos_comment_light {
    margin: 10px -20px; } }

/*# sourceMappingURL=style.css.map */
