@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/Montserrat-Light.otf') format('opentype'),
  url('../fonts/Montserrat-Light.woff') format('woff'), url('../fonts/Montserrat-Light.ttf') format('truetype'), url('../fonts/Montserrat-Light.svg#Montserrat-Light') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Montserrat-Bold.otf') format('opentype'),
  url('../fonts/Montserrat-Bold.woff') format('woff'), url('../fonts/Montserrat-Bold.ttf') format('truetype'), url('../fonts/Montserrat-Bold.svg#Montserrat-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
}

$bgBlack: #101113;
$bgWhite: #ffffff;
$bgGray: #1a1b1e;
$orange: #f36639;
$orangeDark: #CE3F12;
$white: $bgWhite;
$gray: #8c8f94;
$grayDark: #212326;

$grayLight: #718699;

$black: #08090a;
$blue: #1394ef;
$blueDark: #006398;
$bgGrayLight: #212326;

$bgHeaderBlack: #212326;
$font: "Montserrat", sans-serif;

@mixin grid-base($number) {
  width: ((100*$number)/12) * 1%;
}

@mixin transition {
  -webkit-transition: all 0.3s; /* Safari */
  transition: all 0.3s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: $bgBlack;
  font-family: $font;
  background-image: url("../image/bg-main2.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  background-position-y: 130px;
}

a {
  text-decoration: none;
}

//RadioButton

.module ul {
  list-style: none;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: left;

  &.answers {
    display: block;

  }

  &.result {
    display: none;

    label {
      padding-left: 0;
    }

    span.progress {
      display: block;
      padding-left: 5px;
      background-color: $blue;
      border-radius: 0 5px 5px 0;
      font-size: 15px;
      margin: 10px 0;
      width: 0%;

      &.win {
        background: $orange;
      }
    }
  }

  li {
    color: #FFFFFF;
    display: block;
    position: relative;
    float: left;
    width: 100%;

    label {
      display: block;
      position: relative;
      font-weight: 300;
      font-size: 14px;
      padding-left: 22px;
      margin: 10px auto;
      z-index: 9;
      cursor: pointer;
      /*-webkit-transition: all 0.25s linear;*/

      span {
        color: #474c53;
      }
    }

    input[type=radio] {
      position: absolute;
      visibility: hidden;
    }

    &:hover {

      label {
        /* color: #AAAAAA;*/

      }

      .check {
        /*border: 5px solid #FFFFFF;*/
      }

    }

    .check {
      display: block;
      position: absolute;
      border: 2px solid #555c62;
      border-radius: 100%;
      height: 15px;
      width: 15px;
      top: 12px;
      left: 0px;
      z-index: 5;
      /* transition: border .25s linear;
       -webkit-transition: border .25s linear;*/
      @include transition();

      &::before {
        display: block;
        position: absolute;
        content: '';
        border-radius: 100%;
        height: 7px;
        width: 7px;
        top: 2px;
        left: 2px;
        margin: auto;
        /* transition: background 0.25s linear;
         -webkit-transition: background 0.25s linear;*/
        @include transition();
      }
    }

  }
}

input[type=radio]:checked ~ .check {
  border: 2px solid $blue;
}

input[type=radio]:checked ~ .check::before {
  background: $white;
}

input[type=radio]:checked ~ label {
  /*color: #0DFF92;*/
}

//CONTAINER
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

// GRID SYSTEM
.row, .row.mobile {
  display: -webkit-flex;
  display: flex;
  width: 100%;

  @for $i from 1 through 12 {
    .col-#{$i} {
      @include grid-base($i)
    }
  }

}

//NAVIGATION
nav {
  display: inline-block;
  ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;

    li {
      display: flex;
      align-items: flex-start;

      &:last-child a {
        padding-right: 0;
      }

    }
  }
}

//HEADER

header {
  background: $bgHeaderBlack;
  .top {
    background: $bgWhite;
    width: 100%;
    text-align: right;

    nav {
      a {
        padding: 20px 10px;
        font-size: 12px;
        font-weight: 400;
        color: $gray;

        &:hover {
          color: $grayDark;
          @include transition();
        }
      }

    }
  }

  .nav-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px 0;

    .logo {
      text-align: left;
    }

    nav {
      text-align: right;

      a {
        padding: 25px 18px;
        font-size: 15px;
        font-weight: 400;
        color: #ffffff;

      }
      li {
        &.active {
          a {
            color: $orange;

          }

        }
        &:hover {
          a {
            color: $orange;
            @include transition();
          }
        }
      }

    }

  }
}

//MAIN
main {

}

//SLIDER
.slider {
  padding: 100px 0;
  color: #ffffff;
  width: 60%;
  background: none;

  h2 {
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 40px;

    strong {
      font-weight: bold;
    }
  }
  p {
    text-shadow: 2px 2px #000;
    line-height: 1.5;
  }

  a {
    font-size: 20px;
    margin-top: 40px;
    background: $orange;
    padding: 10px 50px;

    &:hover {
      background: $orangeDark;
      @include transition();
    }
  }
}

//ARRTICLES
.article {
  margin: -40px;
  background: $white;
  padding-bottom: 40px;

  article {
    background: $white;
    margin-bottom: 0;
    padding-bottom: 0;

    figure {
      padding-right: 20px;
    }

    h2 {
      color: $bgBlack;
      font-weight: bold;
      text-align: left;
      padding: 10px 0;
      font-size: 28px;
      margin-bottom: 10px;
    }

    time {
      color: $blue;
      font-weight: bold;
    }

    .content {
      padding: 0 0 0 10px;
      text-align: left;
      h2{
        font-size: 18px;
      }

      time {
        color: $blue;
        font-weight: bold;
      }

      p.intro {
        color: $bgBlack;
        font-size: 12px;
        line-height: 1.5;
      }
    }
  ;

  }
  a:hover h2 {
    color: $orange;
    @include transition();
  }
&.single{
  time{
    font-weight: 100;
  }
  .author{
    color: $gray;
    margin-bottom: 10px;
    font-size: 14px;
  }
  figure{
    padding: 0;
    margin: 0 -40px;
  }
  .content{
    margin-top: 20px;
  }
}
}

//BUTTON
.btn {
  text-align: center;
  padding: 10px 20px;
  font-size: 15px;
  color: $white;
  border-radius: 5px;
  display: inline-block;
  border: none;
  cursor: pointer;

  &.default {
    background: $blue;

    &:hover {
      background: $blueDark;
      @include transition();
    }
  }

  &.link {
    background: none;
    font-size: 13px;
    color: $grayLight;

    &:hover {
      color: $white;
      @include transition();
    }
  }
}

.btn-group{
  display: inline-block;
  background: $bgBlack;

  .btn{

  }

}

.social-group {
  display: inline-block;
  button {
    background: none;
    border: none;
    font-size: 24px;
    margin-right: 10px;
    cursor: pointer;

    &.facebook {
      color: #4372cd;
    }
    &.twitter {
      color: #24aadd;
    }
    &.google {
      color: #d23e30;
    }
  }
}

.vote {
  display: inline-block;

  button {
    padding: 8px 15px;
    &.vote-up {
      background: $blue;
    }
    &.vote-down {
      background: $orange;
    }
  }

}

//SECTION
section {
  background: $bgGray;
  padding: 40px;

  article {
    background: $bgBlack;
    padding: 40px;
    margin-bottom: 50px;

    h2 {
      color: $white;
      text-align: center;
      font-size: 25px;
      font-weight: 400;
      padding: 20px 10px;
    }

    .tags {
      margin-bottom: 5px;
      a {
        color: $gray;

        &:hover {
          color: $orange;
          @include transition();
        }
      }

    }
    .under-object {
      background: $black;
      margin: 0 -40px -40px -40px;
      padding: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: $white;

      .object-action {
        text-align: left;
      }
      .comment-count {
        background-image: url("../image/cloud3.png");
        background-repeat: no-repeat;
        background-position-y: 6px;
        margin-right: 10px;
        background-size: contain;
        font-size: 11px;
        padding: 21px 12px 17px 29px;
        color: $white;
        position: relative;

        span {
          position: absolute;
          right: 17px;
          top: 16px;
        }
      }
      p {
        display: inline-block;
        color: #718699;
        text-align: right;
        font-size: 13px;

        span, time {
          color: $white;
        }
      }
    }
  }
}

//SIDEBAR
aside {
  background: $bgGrayLight;
  padding: 15px;
  color: $white;
  font-size: 15px;
  .module {
    text-align: left;
    margin-bottom: 20px;
    h3 {
      font-size: 15px;
      border-bottom: 1px solid #2f3137;
      color: #718699;
      padding-bottom: 10px;
      margin-bottom: 15px;
      text-align: left;
    }

    button {
      margin-top: 10px;
    }

    & > .row {
      margin-bottom: 10px;
    }
  }
}


//TABLE FOOTBALL

article.table-football{
  padding: 0;
  background: none;

  header{
    background: none;
    margin-top: 20px;

    h2{
      text-align: left;
      color: $orange;
      font-size: 20px;
    }
  }

  table{
    width: 100%;
    border-collapse: collapse;
    color: $white;
    font-size: 13px;

    thead{
      color: $grayLight;
      font-weight: 100;
    }
    th,td{
      text-align: center;
      border: none;
      padding: 10px 0;
    }

    tbody{
      tr{
        @include transition;

        &:nth-child(even){
          background: $grayDark;
        }

        &:first-child{
          background: #303338;
        }

        &:hover{
          background: $grayLight;
        }

        td.club, td.club-logo{
          text-align: left;
        }

      }

    }
  }
}
//IMAGE
.img-responsive {
  width: 100%;
}

//PAGINATION
.pagination {
text-align: center;
  span > a, .current {
    background: $grayDark;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 5px;
    margin: 0 5px;
    color: $white;
  }
  .current, a:hover {
    color: $orange;
    @include transition();
  }
  .separator{
    color: $white;
    padding: 0;
  }
}

//FOOTER
footer {
  margin-top: 30px;

  .container {
    display: flex;
    justify-content: space-between;
    padding: 3px 0;
    align-items: center;
  }

  .logo {
    text-align: left;
    img {
      width: 75px;
    }

  }

  nav {
    text-align: right;
    display: flex;

    a {
      padding: 25px 5px;
      font-size: 13px;
      font-weight: 400;
      color: $gray;

    }
    li {
      &.active {
        a {
          color: $orange;

        }

      }
      &:hover {
        a {
          color: $orange;
          @include transition();
        }
      }
    }

    ul.social {
      margin-left: 10px;

      a {
        padding-top: 20px;
        font-size: 20px;
      }
    }
  }

}

@media (max-width: 762px){

  body{
    background-size: 120%;
    background-position-y: 130px;
  }
  header {
    .nav-main{
      nav{
        a{
          padding: 5px;
        }
      }
    }

    .top{
      nav{
        display: block;
        ul{
          justify-content: center;
        }
      }
    }
  }
  //SECTION
  section{
    padding: 10px 20px 30px 20px;

    article {
      padding: 20px;
      margin-bottom: 25px;

      h2{
        padding: 10px;
        font-size: 16px;
      }

      figure{
        margin: 0 -20px;
      }
      .under-object{
        display: block;
        justify-content: center;
        margin: 0 -20px -20px -20px;

        .object-action{
          text-align: center;

        }

        p{
          margin-top: 10px;
          width: 100%;
          text-align: center;
        }
      }
    }

    .article{
      margin: -20px;

      &.single{
        figure{
          margin: 0 -20px;
        }
      }

      article{

        figure{
          padding: 0;
          margin: 0;
        }


      }
    }
  }
  // GRID SYSTEM
  .row {
    display: block;

    @for $i from 1 through 12 {
      .col-#{$i} {
        width: 100%;
      }
    }

  }


  .slider{
    margin: 0 auto;
    width: 90%;
    padding: 20px 0;

    h2{
      font-size: 25px;
      margin-bottom: 20px;
    }
  }

  footer{
    padding: 0 20px;
    nav{
      ul{
        display: none;
        &.social{
          display: block;
          width: 100%;
          li{
            display: inline-block;
          }
          a {
            padding-top: 0;
            font-size: 40px;
            margin-right: 20px;
          }
        }
      }
    }
  }

  .fos_comment_light{
    margin: 10px -20px;
  }
}