{% extends 'base.html.twig' %}

{% block body %}
    <h1>Footballer list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Firstname</th>
                <th>Surname</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for footballer in footballers %}
            <tr>
                <td><a href="{{ path('footballer_show', { 'id': footballer.id }) }}">{{ footballer.id }}</a></td>
                <td>{{ footballer.firstName }}</td>
                <td>{{ footballer.surname }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('footballer_show', { 'id': footballer.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('footballer_edit', { 'id': footballer.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('footballer_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
