{% extends 'base.html.twig' %}

{% block body %}
    <h1>Footballer</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ footballer.id }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ footballer.firstName }}</td>
            </tr>
            <tr>
                <th>Surname</th>
                <td>{{ footballer.surname }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('footballer_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('footballer_edit', { 'id': footballer.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
