body {
    background-color: #f6f5f6;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.right {
    float: right;
}

.left {
    float: left;
}

.clearfix {
    overflow: auto;
}

header.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    height: 60px;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0 0 5px rgba(0, 0, 0, .12);
    margin-bottom: 50px;
}

header.header .logo {
    text-align: center;
    width: 100px;
    margin: 0 auto;
}

header.header .logo img {
    height: 58px;
}

.header menu.user-menu {
    float: left;
    margin-top: 20px;
    padding: 0;
}

.header menu > a {
    margin-right: 10px;
    background-color: #0088CC;
    border-radius: 20px;
    padding: 5px 10px;
    color: #ffffff;
}

.header menu.user-menu a.login {
    background-color: #0088CC;
}

.header menu.user-menu a.login:hover {
    background-color: #006398;
    text-decoration: none;
}

.header .user-profile {
    float: left;
}

.header .user-profile img {
    margin: 10px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: 2px #e4e4e4 solid;
}

.header .user-profile:hover .menu-profile {
    display: block;
}

.header .menu-profile {
    display: none;
    position: fixed;
    top: 50px;
    right: 10px;
    padding-top: 20px;

}

.header .menu-profile > ul {
    background: #333;
    border-radius: 3px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .12);
    margin: 0;
    padding: 5px 15px;
}

.header .menu-profile > ul > li {
    list-style: none;
    margin: 10px 0;
}

.header .menu-profile > ul > li a {
    background: none;
    color: #fff;
    font-size: 16px;
    transition: all .1s;
}

.header .menu-profile > ul > li a:hover {
    color: #0088CC;
    text-decoration: none;
}

.header menu.main {
    margin-top: 20px;
    margin-left: 10px;
    padding: 0;
}

.header menu.main > ul {
    margin: 0;
    padding: 0;
}

.header menu.main > ul > li {
    list-style: none;
    float: left;
}

.header menu.main > ul > li > a {
    margin-right: 10px;
    background-color: #0088CC;
    border-radius: 20px;
    padding: 5px 10px;
    color: #ffffff;
    transition: all .3s;
}

.header menu.main > ul > li > a:hover {
    background-color: #006398;
    text-decoration: none;
}

.header .fb-like {
    float: left;
    margin-top: 20px;
}

.header .search .search-box {
    padding: 5px 30px 4px 10px;
    border-radius: 14px;
    color: #464646;
    background-color: #e4e4e4;
    width: 175px;
    float: left;
    margin-top: -4px;
    margin-right: 15px;
    height: 29px;
    border: none;
    box-shadow: none;
}

.header .search .btn-search {
    background: transparent;
    border: none;
    margin-left: -44px;
    margin-right: 10px;
    margin-top: -2px;
    color: #b2b2b2;
    font-weight: bold;
}

.container {
    margin-top: 50px;
}

article.post-container {
    max-width: 700px;
    width: 100%;
    margin: 0 auto 50px auto;
    background-color: #ffffff;

}

article.post-container header {
    width: 100%;
    overflow: auto;
}

article.post-container .user {
    float: right;
    padding: 10px;
    display: inline-block;
}

article.post-container .user .avatar {
    text-align: center;
}

article.post-container .user .avatar img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

article.post-container .user .username {
    font-weight: bold;
    text-align: center;
}

article.post-container header .info {
    float: left;

}

article.post-container header .info {
    padding: 10px;
    width: 85%;
}

article.post-container header .info h2 {
    margin: 0;
    padding: 0;
}

article.post-container header .info span.date-add {
    color: #b2b2b2;
}

article.post-container .object {
    width: 100%;
}

article.post-container .under-object {
    padding: 10px;
    width: 100%;
    overflow: auto;
}

article.post-container .under-object .info {
    margin: 5px 0;
    float: left;
}

article.post-container .under-object .button-group {
    width: 100%;
    padding: 10px 0;
    clear: both;
}

article.post-container .under-object .vote {
    float: left;
}

article.post-container .under-object .social-group {
    float: right;
}

article .under-object span {
    margin-bottom: 0px;
}

.socila {
    background: #3b5998;
    padding: 10px 20px;
    color: #ffffff;
    font-size: 18px;
    border-radius: 2px;
}

.tags {
    color: #0088CC;
    font-size: 20px;
}

.twitter {
    background: #00aced;
}

section.comment {
    max-width: 700px;
    width: 100%;
    margin: 0 auto 50px auto;
    background-color: #ffffff;
    overflow: auto;
    padding: 10px;
}

section.comment .avatar {
    width: 60px;
    float: left;
}

section.comment .comment-post > .comment-box {
    width: 100%;
    overflow: auto;
    border-bottom: 1px solid #f6f5f6;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

section.comment .textarea-container {
    margin-left: 60px;
}

section.comment .textarea-container .comment-save {
    float: right;
    margin-top: 10px;
}

section.comment .comment-list .comment-entry {
    width: 100%;
    float: left;
    margin-bottom: 10px;
}

section.comment .comment-list .comment-entry .comment-box .info {
    font-weight: bold;
}

section.comment .comment-list .comment-entry .comment-box .info .data-add {
    font-weight: 100;
    color: #b2b2b2;
}

.navigation{
    max-width: 700px;
    width: 100%;
    margin: 0 auto 50px auto;
    background-color: #ffffff;
    text-align: center;
    font-size: 24px;
}
.navigation .pagination{
    font-size: 24px;
}

.navigation .pagination span a{
    padding: 4px 10px;
    border-radius: 3px;
    border: 2px solid #e4e4e4;
    margin: 5px;
}

.object-upload {
    max-width: 800px;
    width: 100%;
    background: #fff;
    margin: 50px auto;
    padding: 10px;
}

.home-video {
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 400px;
    width: 100%;
    overflow: hidden;
    z-index: 10;
}

.home-video .con {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transition: all .5s;
}

.home-video img {
    margin: 0 auto;
    width: 150px;
}

.home-video .search {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    margin-top: -35px;
}

.home-video .search .search-box {
    height: 49px;
    font-size: 24px;
}

.home-video .search .btn-search {
    background: transparent;
    border: none;
    margin-right: 10px;
    margin-top: -43px;
    color: #b2b2b2;
    font-weight: bold;
    float: right;
    font-size: 24px;
}

#home {
    /*position: absolute;*/
    width: 100%;
    height: 100%;
    z-index: 79;
    left: 0;
    float: left;
}

video#bgvid {
    position: fixed;
    top: 250px;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(../image/galaxy.png) no-repeat;
    background-size: cover;
}

.typer {
    width: 100%;
    margin: 0 auto 50px auto;
    background-color: #ffffff;
    padding: 10px;
}

.typer .row{
    margin-bottom: 50px;
    border-bottom: 1px solid #f2f2f2;
    padding: 10px 0;
}
.typer .result {
    width: 100%;
    margin-top: 5px;
    text-align: center;
}

.typer .result button{
    margin-top: 20px;
}

.typer .result input {
    width: 66px;
    height: 40px;
    font-size: 32px;
    padding: 5px 0 5px 5px;
    float: right;
    text-align: center;
}

.typer .result .result-b input{
    float: left;
}

.typer label{
    width: 100% ;
    text-align: center;
}
.typer .result .result-a {
    float: left;
    width: 50%;
    font-size: 39px;
    text-align: right;
}
.typer .result > .result-a > div
{
    float: left;
    width: 88%;
}
.typer .result > .result-a > div > input, .typer .result > .result-b > div > input{
    margin-top: 10px;
}
.typer .result > .result-a::after{
    content: ":";
    float: right;
    margin-left: 10px;
}

.typer .result .result-b {
    float: right;
    width: 50%;
    font-size: 39px;
    text-align: left;
    padding-left: 10px;
}

.typer time label{
    width: 100%;
}
.typer time{
    width: 100%;
    text-align: center;
    float: left;
    font-size: 24px;
    margin-bottom: 10px;
}


.typer .team-a, .typer .team-b{
    text-align: center;
}

.typer .row.type{
    margin: 0;
    padding-bottom: 20px;
}
.typer h1.type{
    float: left;
}
.typer .navi{
    float: right;
    margin-top: 20px;
}
.typer .navi a{
    margin-right: 5px;
}

/* User */
.profile-header{
    background: #fff;
    float: left;
    margin-top: 50px;
    width: 100%;
    margin-bottom: 20px;
}

.profile-header .row{
    margin: 0;
}

.profile-header .user-avatar img{
    width: 120px;
    height: 120px;
    float: left;
    margin: 20px;
    border-radius: 50%;
    border: 2px solid #0088CC;
}

.profile-header .user-name{
    padding-top: 60px;
    font-size: 32px;
}

.profile-header .user-metrics{
    float: right;
    margin-top: 60px;
}

.profile-header .user-metrics > div{
    float: left;
    margin-right: 20px;
}
.profile-header .user-metrics > div > a{
    margin-top: 15px;
}
.profile-header .user-metrics > div.user-points{
    text-align: center;
    font-size: 18px;
}
.profile-header .user-metrics > div.user-points strong{
    font-size: 24px;
    width: 100%;
}

.profile-header h2{
    width: 100%;
    text-align: center;
    padding: 10px;
    border-top: 1px solid #e4e4e4 ;
}

footer{
    float: left;
    width: 100%;
    background: #fff;
    text-align: center;
    color: #999;
    padding: 10px;
}

footer span{
    font-size: 14px;

}