/* uploader */
/*  Fine Uploader */
.qq-uploader {
    text-align: center;
    background-color: #FFFFFF;
    border: none;
    margin: 10px;
    color: #aaaaaa;
    max-height: 100%;
    padding: 0;
}

.qq-uploader span.qq-drop-area-text {
    font-size: 200%;
    width: 100%;
    text-align: center;
}

.qq-uploader > .qq-select-type > .row {
    margin: 15px 0;
}

.qq-upload-list {
    display: none;
    max-height: 100%;
    box-shadow: none;
    overflow-y: auto;
}

.qq-upload-list .row {
    margin: 0;
}

.qq-upload-list .row > div {
    text-align: left;
}

.qq-upload-file {
    display: block;
    width: 100%;
    overflow-x: visible;
    color: #000000;
}

.qq-upload-drop-area, .qq-upload-extra-drop-area {
    border: 3px solid #FFFFFF;
}

.qq-upload-drop-area-active {
    border: 3px solid #0087F7;
    -webkit-transition: border-color .5s linear;
    -moz-transition: border-color .5s linear;
    -o-transition: border-color .5s linear;
    -ms-transition: border-color .5s linear;
    transition: border-color .5s linear;
}

.qq-upload-drop-area span {
    font-size: 200%;
}

.qq-alternative {
    font-size: 18px;
}

.form-upload {
    display: none;
}

/* Upload from image url */
.form-upload-image-from-url {
    display: none;
}

input.upload-image-form-url {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
}

.add-image-url {
    margin-top: 10px;
    display: none;
}

/* Input add link video */

.video-con {
    text-align: center;
}

.video-con .video-url {
    max-width: 400px;
    margin: 30px auto 0 auto;
    text-align: center;
}

.video-con h3 {
    color: #aaaaaa;
    margin-top: 50px;
    font-size: 200%;
}

.video-con .add-video {
    margin-top: 10px;
}

.video-con-form {
    margin-top: 20px;
    display: none;
}

.video-con .add-video {
    display: none;
}

/* Form */
.object-upload .form-control, .object-upload .bootstrap-tagsinput {
    font-weight: 100;
    color: #222;
    border: 1px solid #ddd;
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
    width: 100%;
}
.object-upload textarea.form-control{
}

.object-upload .form-control:focus {
    border-color: #0082FB;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}


/* image thumbnail */
.object-upload .img-thumbnail {
    max-width: 50px;
}

.object-upload .avatar-box {
    max-width: 300px;
    width: 100%;
}

.object-upload .avatar-box .img-thumbnail {
    max-width: 250px;
}

.object-upload .avatar-box > button {
    margin-top: 10px;
}

.qq-uploader .upload-avatar {
    display: none;
}

.object-upload span.error {
    color: red;
    display: none;
}

.object-upload .help-block {
    font-size: 12px;
}

.object-upload label {
    color: #000000;
}

.object-upload span.req {
    color: red;
    font-size: 12px;
}

/* Button */

.object-upload .btn {
    border-radius: 0px;
}

.object-upload .tab-pane {
    padding: 20px;
}


/* Autocomplete */
.autocomplete-suggestions {
    border: 1px solid #999;
    background: #FFF;
    overflow: auto;
}

.autocomplete-suggestion {
    padding: 2px 5px;
    white-space: nowrap;
    overflow: hidden;
}

.autocomplete-selected {
    background: #F0F0F0;
}

.autocomplete-suggestions strong {
    font-weight: normal;
    color: #3399FF;
}

.autocomplete-group {
    padding: 2px 5px;
}

.autocomplete-group strong {
    display: block;
    border-bottom: 1px solid #000;
}

