{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">

        <div class="row">
            <section class="col-lg-12 typer">
                <div class="row type">
                <h1 class="type">Typer kolejka {{ typerMatchForms[0].userType.typerMatch.typerRoundMatches.numberRound }}</h1>
                <div class="navi"><a
                            href="{{ path('typertypematch_index', {'numberRound': app.request.get('numberRound')-1}) }}"
                            class="btn btn-primary"><i class="glyphicon glyphicon-chevron-left"></i></a><a
                            href="{{ path('typertypematch_index', {'numberRound': app.request.get('numberRound')+1}) }}"
                            class="btn btn-primary"><i class="glyphicon glyphicon-chevron-right"></i></a></div>
                    </div>
                {% for typerMatchForm in typerMatchForms %}
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="team-a">
                                <img src="{{ typerMatchForm.typerMatch.teamA.getPathLogo() | imagine_filter('thumb_typer_team') }}">
                                <h3>{{ typerMatchForm.typerMatch.teamA }}</h3>
                            </div>
                        </div>

                        <div class="col-xs-4">
                            <time>
                                {{ typerMatchForm.typerMatch.datetime|date("m-d-Y") }}
                            </time>

                            <div class="result">
                                <label>Wynik</label>
                                {% if  typerMatchForm.typerMatch.datetime|date("U") >= "now"|date("U") %}
                                    {{ form_start(typerMatchForm.form) }}
                                    <div class="result-a">
                                        {{ form_row(typerMatchForm.form.resultA, { 'attr': {'class': 'form-control'}}) }}
                                    </div>
                                    <div class="result-b">
                                        {{ form_row(typerMatchForm.form.resultB, { 'attr': {'class': 'form-control'}}) }}
                                    </div>
                                    <button type="submit" class="btn btn-primary"/>
                                    Zapisz</button>
                                    {{ form_end(typerMatchForm.form) }}
                                {% else %}
                                    <div class="result-a">
                                        {{ typerMatchForm.typerMatch.resultA }}
                                    </div>
                                    <div class="result-b">
                                        {{ typerMatchForm.typerMatch.resultB }}
                                    </div>

                                    {% if typerMatchForm.userType.resultA == typerMatchForm.typerMatch.resultA and typerMatchForm.userType.resultB == typerMatchForm.typerMatch.resultB %}
                                        <h2>1 punkt</h2>
                                    {% else %}
                                        <h2>0 punkt</h2>
                                    {% endif %}
                                {% endif %}

                            </div>


                        </div>

                        <div class="col-xs-4">
                            <div class="team-b">
                                <img src="{{ typerMatchForm.typerMatch.teamB.getPathLogo() | imagine_filter('thumb_typer_team') }}">
                                <h3>{{ typerMatchForm.typerMatch.teamB }}</h3>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </section>
        </div>
    </div>

{% endblock %}
