{% extends 'base.html.twig' %}

{% block body %}
    <h1>TyperTypeMatch</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ typerTypeMatch.id }}</td>
            </tr>
            <tr>
                <th>Resulta</th>
                <td>{{ typerTypeMatch.resultA }}</td>
            </tr>
            <tr>
                <th>Resultb</th>
                <td>{{ typerTypeMatch.resultB }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('typertypematch_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('typertypematch_edit', { 'id': typerTypeMatch.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
