{% extends 'base.html.twig' %}


{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/app/css/bootstrap-select.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/app/css/bootstrap-datetimepicker.min.css') }}">

{% endblock %}
{% block body %}
    <div class="container">


        <div class="row">
            <section class="col-lg-12 typer">
                <h1>Edycja rundy {{ typerRoundMatch.numberRound }}</h1> <form action="{{path(app.request.attributes.get('_route'),
                app.request.query.all|merge({'id': app.request.get('id')})) }}"><select name="id" onchange="this.form.submit()">{% for i in 2..39 %}<option value="{{ i }}">kolejka {{ i-2 }}</option>{% endfor %}</select></form>
                {{ form_start(edit_form) }}
                {{ form_row(edit_form.numberRound) }}


                {% for typerMatche in edit_form.typerMatches %}
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="team-a">
                                {{ form_label(typerMatche.teamA, 'Gospodarz') }}
                                {{ form_widget(typerMatche.teamA, { 'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>

                        <div class="col-xs-4">

                            <time>
                                {{ form_label(typerMatche.dateTime, 'Data spotkania') }}
                                {{ form_widget(typerMatche.dateTime, { 'attr': {'class': 'form-control'}}) }}
                            </time>

                            <div class="result">
                                <label>Wynik</label>
                                <div class="result-a">
                                    {{ form_row(typerMatche.resultA, { 'attr': {'class': 'form-control'}}) }}
                                </div>
                                <div class="result-b">
                                    {{ form_row(typerMatche.resultB, { 'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-4">
                            <div class="team-b">
                                {{ form_label(typerMatche.teamB, 'Gość') }}
                                {{ form_widget(typerMatche.teamB, { 'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                    </div>
                {% endfor %}

                <input type="submit" value="Zapisz" class="btn btn-primary"/>
                <a href="{{ path('typerroundmatches_index') }}" class="btn btn-default">Powrót</a>
                {{ form_end(edit_form) }}

            </section>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('bundles/app/js/bootstrap-select.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/app/js/bootstrap-datetimepicker.min.js') }}"></script>
    <script>
        $(document).ready(function () {
            $('select').selectpicker({
                'size': 'auto'
            });
            $('input[type=datetime]').datetimepicker({
                autoclose: true
            })
        })


    </script>
{% endblock %}

