{% extends 'base.html.twig' %}

{% block body %}
    <h1>TyperRoundMatches list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Numberround</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for typerRoundMatch in typerRoundMatches %}
            <tr>
                <td><a href="{{ path('typerroundmatches_show', { 'id': typerRoundMatch.id }) }}">{{ typerRoundMatch.id }}</a></td>
                <td>{{ typerRoundMatch.numberRound }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('typerroundmatches_edit', { 'id': typerRoundMatch.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
