body {
  background-color: #F5F5F5;
  color: #656565;
  font-family: "Open Sans", sans-serif; }

.container-fluid {
  padding: 0;
  display: flex; }

.row {
  margin: 0; }

header {
  padding: 10px 15px;
  border-width: 0px 0px 0px 0px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  font-size: 24px;
  margin-bottom: 0px;
  background-color: #ffffff;
  border-color: #e6e9ed; }

main {
  min-height: 100%; }
  main aside {
    background-color: #222222;
    width: 100%;
    max-width: 250px;
    flex: 1;
    height: 100%;
    position: absolute; }
    main aside ul {
      list-style: none;
      padding: 0; }
      main aside ul li {
        text-indent: 10px;
        line-height: 42px; }
        main aside ul li > a {
          display: block;
          text-decoration: none;
          color: #757575;
          font-weight: 600; }
          main aside ul li > a i.fa {
            padding-right: 10px;
            font-size: 14px; }
        main aside ul li > a:hover, main aside ul li.active > a, main aside ul li > a:focus, main aside ul li.current_ancestor > a {
          text-decoration: none;
          color: #ffffff;
          background: #f36639; }
        main aside ul li > ul {
          background: rgba(255, 255, 255, 0.03);
          list-style: none;
          margin: 0;
          padding: 0px 0px 0px 24px;
          border-left: 1px solid #222;
          position: relative; }
          main aside ul li > ul::before {
            content: "";
            height: 100%;
            width: 1px;
            position: absolute;
            background: rgba(255, 255, 255, 0.075);
            left: 24px;
            top: 0; }
          main aside ul li > ul li {
            line-height: 35px; }
            main aside ul li > ul li a {
              font-weight: 400;
              font-size: 90%;
              padding: 0px 8px;
              position: relative; }
              main aside ul li > ul li a::before {
                content: "";
                width: 8px;
                height: 1px;
                background: rgba(255, 255, 255, 0.075);
                position: absolute;
                left: 1px;
                top: 17px; }
            main aside ul li > ul li:hover > a, main aside ul li > ul li.active > a, main aside ul li > ul li > a:focus {
              background: none; }
  main section {
    flex: 1;
    padding: 10px;
    margin-left: 250px; }
    main section h2 {
      margin: 11px 0px 30px 0px;
      font-size: 32px;
      font-weight: 100; }

#collection-form {
  list-style: none;
  padding: 0; }
  #collection-form li {
    text-align: right;
    border-bottom: 1px solid #eaeaea;
    padding: 5px; }
    #collection-form li:first-child {
      text-align: left; }
    #collection-form li button {
      margin: 10px 0; }
    #collection-form li > div {
      display: flex; }
      #collection-form li > div > div {
        flex: 1;
        padding: 0 5px; }
        #collection-form li > div > div label {
          text-align: left;
          width: 100%; }
        #collection-form li > div > div button, #collection-form li > div > div input, #collection-form li > div > div select, #collection-form li > div > div textarea {
          width: 100%;
          color: #555;
          background-color: #fff;
          background-image: none;
          border: 1px solid #ccc;
          border-radius: 4px;
          -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); }

/*# sourceMappingURL=style.css.map */
