$gray: #F5F5F5;
$black: #222222;
$white: #ffffff;
$ornage: #f36639;

$sidebarWidth: 250px;

body {
  background-color: $gray;
  color: #656565;
  font-family: "Open Sans", sans-serif;
}

.container-fluid {
  padding: 0;
  display: flex;
}

.row {
  margin: 0;
}

header {
  padding: 10px 15px;
  border-width: 0px 0px 0px 0px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  font-size: 24px;
  margin-bottom: 0px;
  background-color: $white;
  border-color: #e6e9ed;
}

main {
  min-height: 100%;

  aside {
    background-color: $black;
    width: 100%;
    max-width: $sidebarWidth;
    flex: 1;
    height: 100%;
    position: absolute;

    ul {
      list-style: none;
      padding: 0;
      li {
        text-indent: 10px;
        line-height: 42px;

        & > a {
          display: block;
          text-decoration: none;
          color: #757575;
          font-weight: 600;

          i.fa {
            padding-right: 10px;
            font-size: 14px;
          }

        }

        & > a:hover, &.active > a, & > a:focus, &.current_ancestor > a {
          text-decoration: none;
          color: $white;
          background: $ornage;
        }

        & > ul {
          background: rgba(255, 255, 255, 0.03);
          list-style: none;
          margin: 0;
          padding: 0px 0px 0px 24px;
          border-left: 1px solid #222;
          position: relative;

          &::before {
            content: "";
            height: 100%;
            width: 1px;
            position: absolute;
            background: rgba(255, 255, 255, 0.075);
            left: 24px;
            top: 0;
          }

          li {
            line-height: 35px;
            a {
              font-weight: 400;
              font-size: 90%;
              padding: 0px 8px;
              position: relative;

              &::before {
                content: "";
                width: 8px;
                height: 1px;
                background: rgba(255, 255, 255, 0.075);
                position: absolute;
                left: 1px;
                top: 17px;
              }
            }

            &:hover > a, &.active > a, & > a:focus {
              background: none;
            }

          }
        }

      }

    }

  }

  section {
    flex: 1;
    padding: 10px;
    margin-left: $sidebarWidth;

    h2 {
      margin: 11px 0px 30px 0px;
      font-size: 32px;
      font-weight: 100;
    }

  }
}

#collection-form {
  list-style: none;
  padding: 0;

  li {
    text-align: right;
    border-bottom: 1px solid #eaeaea;
    padding: 5px;

    &:first-child {
      text-align: left;
    }
    button {
      margin: 10px 0;
    }
    & > div {
      display: flex;
      & > div {
        flex: 1;
        padding: 0 5px;
        label {
          text-align: left;
          width: 100%;
        }
        button, input, select, textarea {
          width: 100%;
          color: #555;
          background-color: #fff;
          background-image: none;
          border: 1px solid #ccc;
          border-radius: 4px;
          -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        }
      }
    }
    .remove_form {
    }
  }
}