{% extends 'admin.html.twig' %}

{% block sctionTitle %} Użytkownicy  {% endblock %}
{% block panel %}
    {% set attributes = {id: 'Id', username: 'Login' , email: 'email'}  %}
    {{ include('AdminBundle:Default:panel.html.twig', {title: 'lista', attributes: attributes, entities: entities}) }}
{% endblock %}