{% extends 'admin.html.twig' %}

{% block sctionTitle %} Memy {% endblock %}
{% block panel %}
    {% set attributes = {id: 'Id', description: 'Opis', user: ['Użytkownik', 'username'], active: 'Włączony', createdAt: 'Data dodania'}  %}
    {{ include('AdminBundle:Default:panel.html.twig', {title: 'lista', attributes: attributes, entities: entities}) }}
{% endblock %}