{% extends 'base.html.twig' %}

{% block body %}
    <h1>TyperTeam list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Logo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for typerTeam in typerTeams %}
            <tr>
                <td><a href="{{ path('typerteam_show', { 'id': typerTeam.id }) }}">{{ typerTeam.id }}</a></td>
                <td>{{ typerTeam.name }}</td>
                <td>{{ typerTeam.logo }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('typerteam_show', { 'id': typerTeam.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('typerteam_edit', { 'id': typerTeam.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('typerteam_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
