{% extends 'base.html.twig' %}

{% block section %}
 <div class="article">
    {% for article in articles %}
        <a href="{{ path('article_show', {'id': article.id }) }}" title="{{ article.title }}">
        <article class="row">
            <figure class="col-4">
                <img src="{{ article.getWebImage() | imagine_filter('thumb_article') }}"
                     alt="{{ article.title}}" class="img-responsive">
            </figure>
            <div class="content col-8">
                <time datetime="{{ article.createdAt|date("Y-m-d H:i") }}">{{ article.createdAt|date("Y.m.d") }}</time>
                <h2>{{ article.title }}
                </h2>
                   <p class="intro">
                       {{ article.intro|striptags|slice(0, 250)|replace({'&nbsp;': ' '}) }}{% if article.intro|striptags|length > 250%}...{% endif %}
                   </p>
            </div>

        </article>
        </a>
    {% endfor %}
 </div>
  {#
   <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
  #}

{% endblock %}



