{% extends 'base.html.twig' %}

{% block section %}
<div class="article single">
    <article>
        <time datetime="{{ article.createdAt|date("Y-m-d H:i") }}">{{ article.createdAt|date("Y.m.d") }}</time>
        <h2>{{ article.title }} </h2>
        <p class="author">Dodany przez: {{ article.user.username }}, Komentarzy  {{ article.getNumComments() }}</p>
        <figure>
            <img src="{{ article.getWebImage() | imagine_filter('article') }}"
                 alt="{{ article.title }}" class="img-responsive">
        </figure>
        <div class="content">
            {{ article.content|raw }}
        </div>

    </article>

</div>

        <div id="fos_comment_thread" data-thread="{{ commentsThread.thread.id }}" class="fos_comment_light">

    {% include 'FOSCommentBundle:Thread:comments.html.twig' with {
    'comments': commentsThread.comments,
    'thread': commentsThread.thread
    } %}
    {% endblock %}



    {% block stylesheets %}
     <link rel="stylesheet" href="{{ asset('bundles/foscomment/css/comments.css') }}">
    {% endblock %}


    {% block javascripts %}
        {# jQuery must be available in the page by this time, and make sure javascript block is after
          <div id="fos_comment_thread"> in the DOM Tree, for example right before </body> tag
        #}
        <script type="text/javascript" src="{{ asset('bundles/foscomment/js/comments.js') }}"></script>
        <script>


</script>
{% endblock %}