{% extends 'admin.html.twig' %}

{% block sctionTitle %}Kluby Piłkarskie {% endblock %}
{% block panel %}
    {{ include('AdminBundle:Default:panel.html.twig', {title: 'edycja', entity: club, form: edit_form, delete_form: delete_form}) }}
{% endblock %}
