{% extends 'admin.html.twig' %}

{% block sctionTitle %} Kluby Piłkarskie {% endblock %}
{% block panel %}
    {% set attributes = {id: 'Id', name: 'Nazwa', league: ['Liga', 'name'], action: 'club' }  %}
    {{ include('AdminBundle:Default:panel.html.twig', {title: 'lista', attributes: attributes, entities: clubs}) }}
{% endblock %}