{% extends 'admin.html.twig' %}

{% block sctionTitle %}Kluby Piłkarskie {% endblock %}
{% block panel %}
    {{ include('AdminBundle:Default:panel.html.twig', {title: 'dodawanie', form: form}) }}
{% endblock %}