{% extends 'admin.html.twig' %}

{% block sctionTitle %} Tabela {% endblock %}
{% block panel %}
    {% set attributes = {id: 'Id', league: ['Liga', 'name'], season: ['Sezon', 'date'], queue: ['Kolejka', 'number'], createdAt: 'Data dodania', action: 'tablefootball' }  %}
    {{ include('AdminBundle:Default:panel.html.twig', {title: 'lista', attributes: attributes, entities: tableFootballs}) }}
{% endblock %}

