{% extends 'admin.html.twig' %}

{% block sctionTitle %} Tabela {% endblock %}

{% block panel %}
    {% set collection = {'tableFootballClubs' : ['club', 'matches', 'won', 'lost', 'goalsScored', 'goalsAgainst']}  %}
    {{ include('AdminBundle:Default:collection_form.html.twig', {title: 'Dodaj', collection: collection, form: form,}) }}
{% endblock %}

{% block javascripts -%}
    <script>
        new CollectionForm();
    </script>
{% endblock %}



