


    <h1>TableFootball</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tableFootball.id }}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{% if tableFootball.createdAt %}{{ tableFootball.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Lastmodification</th>
                <td>{% if tableFootball.lastModification %}{{ tableFootball.lastModification|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('tablefootball_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('tablefootball_edit', { 'id': tableFootball.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>

