{# default Sliding pagination control implementation #}

{% if pageCount > 1 %}
<div class="pagination">
    {#{% if first is defined and current != first %}
        <span class="first">
        <a href="{{ path(route, query|merge({(pageParameterName): first})) }}">&lt;&lt;</a>
    </span>
    {% endif %}#}

    {% if previous is defined %}
        <span class="previous">
            <a href="{{ path(route, query|merge({(pageParameterName): previous})) }}"><i
                        class="fa fa-angle-left"></i></a>
        </span>

        {% if pagesInRange[0] != first  %}

            <span class="page">
                <a href="{{ path(route, query|merge({(pageParameterName): first})) }}">{{ first }}</a>
            </span>
            {% if pagesInRange[0] != first+1  %}
            <span class="separator">&#183; &#183; &#183;</span>
        {% endif %}
        {% endif %}
    {% endif %}

    {% for page in pagesInRange %}
        {% if page != current %}
            <span class="page">
                <a href="{{ path(route, query|merge({(pageParameterName): page})) }}">{{ page }}</a>
            </span>
        {% else %}
            <span class="current">{{ page }}</span>
        {% endif %}

    {% endfor %}



    {% if next is defined %}
        {% if pagesInRange[pageRange-1] != last  %}
            {% if pagesInRange[pageRange-1] != last - 1  %}
                <span class="separator">&#183; &#183; &#183;</span>
                {% endif %}
            <span class="page">
                <a href="{{ path(route, query|merge({(pageParameterName): last})) }}">{{ last }}</a>
            </span>
            {% endif %}
            <span class="next">
            <a href="{{ path(route, query|merge({(pageParameterName): next})) }}"><i class="fa fa-angle-right"></i></a>
        </span>


    {#  {% if last is defined and current != last %}
         <span class="last">
         <a href="{{ path(route, query|merge({(pageParameterName): last})) }}">&gt;&gt;</a>
     </span>
     {% endif %}#}
    {% endif %}
</div>
{% endif %}
